.git
.github
.gitignore
.dockerignore
.DS_Store

Dockerfile
docker-compose
media
tests
tmp

README.md
CHANGELOG.md
CONTRIBUTING.md
SECURITY.md
LICENSE
advisors.md
parameter_advisor.md

build.sh
env.sample
pyproject.toml
render.yaml
report.sql
advisor.yml

config.json
postgresql_versions_cache.json

__pycache__
*.py[cod]
.pytest_cache
.coverage
htmlcov

**/*.map
apps/static/assets/scss
apps/static/assets/gulpfile.js
apps/static/assets/package.json
