<!--
Base page 
-->
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    pgAssistant - {% block title %}{% endblock %}
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="pgAssistant comminity">
<meta name="description" content="Optimze your postgresql database">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.ASSETS_ROOT }}/img/favicon/apple-touch-icon.png?v=3">
<link rel="icon" type="image/svg+xml" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon.svg?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-16x16.png?v=3">
<link rel="manifest" href="{{ config.ASSETS_ROOT }}/img/favicon/site.webmanifest?v=3">
<link rel="mask-icon" href="{{ config.ASSETS_ROOT }}/img/favicon/safari-pinned-tab.svg?v=3" color="#4b5563">
<meta name="msapplication-TileColor" content="#f3f4f6">
<meta name="theme-color" content="#f3f4f6">

<!-- Base CSS -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/volt.css" rel="stylesheet">
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/pga.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/css/bootstrap-icons.css">

<!-- pgAssistant global UI -->
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/pgassistant.css">

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% include 'includes/sidebar.html' %}
    
    <main class="content">

      {% include 'includes/navigation.html' %}

      {% block content %}{% endblock content %} 

      {% include 'includes/settings-box.html' %}

    </main>

      {% include 'includes/footer.html' %}

  {% include 'includes/scripts.html' %}
    
  <!-- Specific Page JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}  
      
</body>
</html>
