<!--

Base page 
-->
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    pgAssistant - {% block title %}{% endblock %} 
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="pgAssistant">
<meta name="author" content="Nexsol technologies">
<meta name="description" content="Optimze your postgresql database">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ config.ASSETS_ROOT }}/img/favicon/apple-touch-icon.png?v=3">
<link rel="icon" type="image/svg+xml" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon.svg?v=3">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-32x32.png?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.ASSETS_ROOT }}/img/favicon/favicon-16x16.png?v=3">
<link rel="manifest" href="{{ config.ASSETS_ROOT }}/img/favicon/site.webmanifest?v=3">
<link rel="mask-icon" href="{{ config.ASSETS_ROOT }}/img/favicon/safari-pinned-tab.svg?v=3" color="#4b5563">
<meta name="msapplication-TileColor" content="#f3f4f6">
<meta name="theme-color" content="#f3f4f6">

<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Sweet Alert -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/vendor/notyf/notyf.min.css" rel="stylesheet">

<!-- Base CSS -->
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/volt.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/css/bootstrap-icons.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/pgassistant.css">

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

  <!-- Specific Page JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}  
  
</body>
</html>
