{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/dataTables.bootstrap5.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <div class="mb-3 mb-lg-0">
        <h1 class="h4">{{ description['description'] }}</h1>
    </div>

    <div class="d-flex justify-content-end">
        
    {%if description['reference'] %}
        <a href="{{ description['reference'] }}" target="_blank" class="btn btn-primary me-2 align-items-center d-inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 icon-20" viewBox="0 0 16 16">
            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
            </svg> Reference
        </a>
    {% endif %}
        <button type="button" class="btn btn-primary me-2 align-items-center d-inline-flex" data-bs-toggle="modal" data-bs-target="#modal-default">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-1 icon-20" viewBox="0 0 16 16">
                <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8z"/></svg>
            Show query</button>
        <!-- Refresh -->
        <button id="refresh" type="submit" class="btn btn-primary align-items-center d-inline-flex" name="submit_refresh" value="refresh"
            onclick="refreshPage()">
            <svg class="icon icon-20 me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3">
                </path>
            </svg>
            Refresh
        </button>
    </div>
</div>
<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">Executed query</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <code>{{ description['sql'] }}</code>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="card border-0 shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="generic" class="table table-striped" style="width:100%">
                <thead class="thead-light">
                    <tr>
                        {%for row in rows[0]: %}
                        <th>{{ row }}</th>
                        {% endfor %}
                        <th>Checks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows: %}
                    <tr>
                        {% for key, value in row.items() %}
                        <td style="word-wrap: break-word; min-width: 10px; max-width: 360px; white-space: normal;">
                            {{ value }}
                            {% if 'table_name' in key %}
                        <td>
                            <button
                                onclick="location.href='/table_llm/{{ row['table_schema'] }}/{{ row['table_name'] }}'"
                                type="button" class="btn btn-sm btn-primary d-inline-flex align-items-center me-2">
                                Check RFC</button>

                            <button
                                onclick="location.href='/table_llm_guidelines/{{ row['table_schema'] }}/{{ row['table_name'] }}'"
                                type="button" class="btn btn-sm btn-primary d-inline-flex align-items-center">
                                Check Reference</button>
                        </td>
                        {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script id="dt1" src="{{ config.ASSETS_ROOT }}/js/jquery-3.7.1.js"></script>
<script id="dt3" src="{{ config.ASSETS_ROOT }}/js/dataTables.js"></script>
<script id="dt3" src="{{ config.ASSETS_ROOT }}/js/dataTables.bootstrap5.js"></script>

<script>
    function refreshPage() {
        location.reload(); // Reloads the page
    }

    // Garde les colonnes triables mais désactive le tri par défaut
    new DataTable('#generic', {
        order: [] // Pas de tri initial
    });
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}